body{
    background-color: #9ed39e
    ;
}
#background {
    width: 50%;
    height: 50%;
    margin-left: 25%;
}

.btns{
    background-color: #3e733f;
    width: 60%;
    margin-left: 20%;
    padding: 20px;
    border: 2px solid black;
    
}
a{
      color: white;

}
a:hover{
    background-color: #3e733f;
    color: white;
}