
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Welcome to CodeJava Home</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div><a th:href = "@{/showNewDeptForm}" class="btn btn-primary btn-sm mb-3">  Add Department </a> <div>
			<h3> List Of Departments<h3>
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Department Number</th>
					<th>Department Name</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="departments: ${departments}">
					<td th:text="${departments.dept_no}">Department Num</td>
					<td th:text="${departments.dept_name}">Department Name</td>
				</tr>
			</tbody>
		</table>
	</div>

</form>
</body>
</html>