<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>List Employees</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
	<div>
		<form th:action="@{/logout}" method="post">
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
			</p>
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	<div>
		<h1>List of Employees</h1>
	</div>
	
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Employee Num</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Birth Date</th>
					<th>Gender</th>
					<th>Hire Date</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="emp: ${listEmps}">
					<td th:text="${emp.emp_no}">User ID</td>
					<td th:text="${emp.first_name}">First Name</td>
					<td th:text="${emp.last_name}">Last Name</td>
 					<td th:text="${emp.birth_date}">Last Name</td>
					<td th:text="${emp.gender}">Last Name</td>
					<td th:text="${emp.hire_date}">Last Name</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>