<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Welcome to CodeJava Home</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

	<br/><br/>
	<form th:action="@{/searchEmp}">
		Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
		&nbsp;
		<input type="submit" value="Search" />
		&nbsp;
		<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
	</form>
	<br/><br/>

       <div><a th:href = "@{/showNewEmpForm}" class="btn btn-primary btn-sm mb-3">  Add Employee</a> <div>
			<h3> List Of Employees<h3>
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>emp_no</th>
					<th>birth_date</th>
                                        <th>first_name</th>
					<th>last_name</th>
                                        <th>gender</th>
					<th>hire_date</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="employees: ${employees}">
					<td th:text="${employees.emp_no}">emp_no</td>
					<td th:text="${employees.birth_date}">birth_date</td>
                                        <td th:text="${employees.first_name}">first_name</td>
					<td th:text="${employees.last_name}">last_name</td>
                                        <td th:text="${employees.gender}">gender</td>
					<td th:text="${employees.hire_date}">hire_date</td>
				</tr>
			</tbody>
		</table>
	</div>

</form>
<script type="text/javascript">
	function clearSearch() {
		window.location = "[[@{/employees}]]";
	}
</script>
</body>
</html>