<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Welcome to CodeJava Home</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link href="../public/css/index.css" th:href="@{css/index.css}" rel="stylesheet" />

</head>

<body>
	<div> <img id="background" src="../static/images/emp.jpg" alt="background" th:src="@{images/emp.jpg}">
	</div> <br>
	<div class="container text-center">
		<div class="btns">
			<h3><a th:href="@{/register}">Register</a></h3>
		</div><br>
		<div class="btns">
			<h3><a th:href="@{/login}">Login</a></h3>
		</div>
	
	</div>

</body>

</html>