<!DOCTYPE html>
<html>

<head>
    <title>Login Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
    <link href="../public/css/signUp.css" th:href="@{css/signUp.css}" rel="stylesheet" />

</head>

<body>
    <!-- main -->
    <div class="main-w3layouts wrapper">
        <h1>Admin Log In</h1>
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form th:action="@{/loginadmin}" method="post"
                    style="max-width: 600px; margin: 0 auto;">
                    <input class="text" type="text" name="Username" placeholder="First Name"
                    required minlength="2" maxlength="20">
                    <input class="text" type="password" name="password" placeholder="Password"
                        required minlength="6" maxlength="10">

                        <input name="_csrf" type="hidden" value="47b2dbaa-784b-49f9-81aa-5df8b0ffa214">
                        <div class="clear"> </div>
                    </div>
                    <input type="submit" value="Signin">
                </form>
            </div>
        </div>

        <!-- //copyright -->
        <ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- //main -->
</body>

</html>