<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>New Department</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<style>
	.btnUpdate {
		background-color: #5c645c;
		text-decoration: none;
		font-size: 15px;
		padding: 10px;
		border-radius: 10px;
		margin: 10px;
		color: white;
	}

	#nav {
		background-color:#3f5e3f;
		color: white;
		font-size: 35px;
		padding: 10px;
		font-weight: bold;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	body {
		background-color: rgb(255, 255, 255);
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	#form {
		margin-left: 0%;
	}
</style>

<body>
	<div id="nav">Department Management System</div>

	<div class="container">
		<hr>
		<h2>Save Department</h2>
		<div id="form">
			<form action="#" th:action="@{/saveDepartment}" th:object="${department}" method="POST">
				<input type="text" th:field="*{dept_no}" placeholder="Department Number "
					class="form-control mb-4 col-4">

				<input type="text" th:field="*{dept_name}" placeholder="Department Name"
					class="form-control mb-4 col-4">


				<button type="submit" class="btnUpdate"> Save Department</button>
			</form>
		</div>
</body>

</html>