<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Update Employee</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link href="../public/css/update.css" th:href="@{css/update.css}" rel="stylesheet" />

</head>
<style>
	.btnUpdate {
		background-color: #5c645c;
		text-decoration: none;
		font-size: 15px;
		padding: 10px;
		border-radius: 10px;
		margin: 10px;
		color: white;
	}

	#nav {
		background-color: #3f5e3f;
		color: white;
		font-size: 35px;
		padding: 10px;
		font-weight: bold;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	body {
		background-color: rgb(255, 255, 255);
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	#form {
		margin-left: 0%;
	}
</style>

<body>
		<div id="nav">Employee Management System</h1>
		</div>
		<hr>
		<div class="container">

		<div id="form">
			<h2>Update Employee</h2>
			<form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">

				<input type="number" th:field="*{emp_no}" placeholder="Employee Number "
					class="form-control mb-4 col-4">

				<input type="text" th:field="*{firstName}" placeholder="Employee First Name"
					class="form-control mb-4 col-4">
                                

                                 <input type="text" th:field="*{lastName}" placeholder="Employee Last Name"
					class="form-control mb-4 col-4">


                                <input type="text" th:field="*{gender}" placeholder="Employee Gender"
					class="form-control mb-4 col-4">


                                 <input type="date" th:field="*{hireDate}" placeholder="Employee Hire Date"
					class="form-control mb-4 col-4">
 
                                 <input type="date" th:field="*{birth_date}" placeholder="Employee Birth Date"
					class="form-control mb-4 col-4">



				<button type="submit" class="btnUpdate"> Update Employee</button>
			</form>
		</div>

		<hr>

		<a th:href="@{/employees}"> Back to Employee List</a>
	</div>
</body>

</html>